:root {
  --primary-brand: #1321e7;
  --navy-blue: #2e2f42;
  --subtle-text: #8e8f99;
  --cloud: #f4f4fd;
  --action-color: #404bbf;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.micro-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.mini-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-img {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.studio {
  color: var(--navy-blue);
}

.menu {
  color: var(--navy-blue);
}

.menu :hover,
.menu :focus {
  color: var(--action-color);
}

.address-mail {
  font-style: normal;
  color: var(--body-text);
}
.address-tel {
  font-style: normal;
  color: var(--body-text);
}

.address-mail:hover,
.address-mail:focus {
  color: var(--action-color);
}

.address-tel:hover,
.address-tel:focus {
  color: var(--action-color);
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  background-color: var(--navy-blue);
}
.btn-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: var(--navy-blue);
  cursor: pointer;
  letter-spacing: 0.04em;
}
.btn-title:hover,
.btn-title:focus {
  background: var(--action-color);
}
.work-item {
  color: var(--navy-blue);
}
.item-text {
  color: var(--body-text);
}
.products {
  background-color: var(--cloud);
}
.main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.team-list {
  color: var(--navy-blue);
}
.footer-img {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  color: var(--primary-brand);
}
.footer-studio {
  color: var(--cloud);
  background: var(--navy-blue);
}
.all-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--primary-brand);
  cursor: pointer;
}
.all-btn:hover,
.all-btn:focus {
  background: var(--navy-blue);
}
.web-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--cloud);
  cursor: pointer;
}
.web-btn:hover,
.web-btn:focus {
  background: var(--navy-blue);
}
.menu-text {
  color: var(--navy-blue);
}
.menu-letter {
  color: #434455;
}
